VITE_FIREBASE_API_KEY=AIzaSyCGj6ffASVD8X1ABMPKUKP1XvZ6h2QWmb4
VITE_FIREBASE_AUTH_DOMAIN=eco-safe-fa81d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=eco-safe-fa81d
VITE_FIREBASE_STORAGE_BUCKET=eco-safe-fa81d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=929181679301
VITE_FIREBASE_APP_ID=1:929181679301:web:8596ee49cd2e1e9a917aac
